{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>{% block title %} Title {% endblock %} - Peluqueria</title>
 	<link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">

	<link rel="stylesheet" href="{% static 'css/material-icons.css' %}">
 	<script type="text/javascript" src="{% static 'js/fontawesome-all.js' %}"></script>
 	{% block extrahead %}
	{% endblock %}
 	<link rel="stylesheet" href="{% static 'css/myStyles.css' %}">
</head>
<body>
 	{% block navbar %}
		{% include 'base/navbar.html' %}
	{% endblock %}

	<main>
		{% block content %}
			<h4>Soy el contenido</h4>
		{% endblock %}
	</main>
 	{% block footer %}
		{% include 'base/footer.html' %}
	{% endblock %}

	<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/myScript.js' %}"></script>
 	{% block extrajs %}
	{% endblock %}
</body>
</html>
