<footer class="page-footer teal darken-1">
	<div class="container">
		<div class="row">
            <div class="col s12 m6 l8">
				<h3><i class="fas fa-cut"></i> Peluqueria</h3>
				<big>Somos una peluquería fundada hace 8 años . Ofrecemos a nuestros clientes servicios de salud, belleza y bienestar, a través de servicios de estética y peluquería con altos estándares de calidad , apoyados en un equipo competente y efectivo.</big>
            </div>
			<div class="col s12 m6 offset-l1 l3">
                <h4>Developers</h4>
				<a href="https://github.com/ibanb04" class="white-text oscurecer">
					<i class="fab fa-github fa-2x"></i> <big>Ivan Bettin</big>
				</a>
				<br>
                <a href="https://github.com/samir04m" class="white-text oscurecer">
					<i class="fab fa-github fa-2x"></i> <big>Samir Mejia</big>
				</a>
				<br>
				<a href="https://github.com/Adal1013" class="white-text oscurecer">
					<i class="fab fa-github fa-2x"></i> <big>Adalberto Avila</big>
				</a>
            </div>
		</div>
	</div>
	<div class="footer-copyright white-text">
		<div class="container">
			<span class="oscurecer">All Rights Reserved © 2018</span>
			<a class="grey-text text-lighten-4 right oscurecer" href="http://materializecss.com/">Power By MaterializeCss</a>
		</div>
	</div>

</footer>
