{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}Egresos{% endblock %}

{% block extrahead %}
    <style>
        body {
            background-color: #00796b;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <br>
        <div class="card-panel">
            <center><h4 style="margin-top:0px;">Egresos de este Mes</h4></center>
            {% if egresosDelMes %}
                <div class="row">
                    <div class="col s12 offset-m1 m10">
                        <table class="striped bordered highlight responsive-table">
                            <thead>
                                <tr>
                                    <th>Gasto</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Insumos de Materia Prima</td>
                                    <td>$ {{egresosDelMes.insumos}}</td>
                                </tr>
                                <tr>
                                    <td>Compra y reparación de Instrumentación</td>
                                    <td>$ {{egresosDelMes.instrumentacion}}</td>
                                </tr>
                                <tr>
                                    <td>Alquiler del local comercial</td>
                                    <td>$ {{egresosDelMes.alquiler}}</td>
                                </tr>
                                <tr>
                                    <td>Pago de Servicios públicos</td>
                                    <td>
                                        Energia: $ {{egresosDelMes.energia}} <br>
                                        Agua: $ {{egresosDelMes.agua}} <br>
                                        Telefonía: $ {{egresosDelMes.telefonia}} <br>
                                        Total: $ {{egresosDelMes.totalServiciosPublicos}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            {% else %}
                <center>
                    <h5>Aun no se definen los egresos de este mes</h5>
                </center>
            {% endif %}

        </div>
    </div>

{% endblock %}
