{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}Factura{% endblock %}

{% block extrahead %}
    <style>
        body {
            background-color: #00796b;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <br>
        <div class="row m-b-0">
            <a href="{% url 'servicio:caja' %}" class="white-text">
                <big><i class="fas fa-arrow-left"></i> Ir a caja registradora</big>
            </a>
        </div>
        <div class="row">
            <div class="col s12 offset-m2 m8">
                <div class="card-panel" style="font-size:18px;">
                    {% if factura %}
                    <h4>Factura de Pago #{{ factura.id }}</h4>
                    <hr>
                    <div class="row">
                        <div class="col s12">
                            <b>Fecha:</b>
                            <div class="right">{{ factura.fecha }}</div>
                        </div><br><br>
                        <div class="col s12">
                            <b>Empleado:</b>
                            <div class="right">{{ factura.empleado.fname }}</div>
                        </div><br><br>
                        <div class="col s12">
                            <b>Servicios:</b>
                            <div class="p-l-10">
                                <ol>
                                    {% for s in factura.subtipos.all %}
                                        <li>{{s.tipo.nombre}} - {{s.nombre}} <div class="right">$ <span>{{s.precio}}</span></div></li>
                                    {% endfor %}
                                </ol>
                            </div>
                        </div><br>
                        <div class="col s12">
                            <div class="right">Total: $ <span id="total">-</span></div>
                        </div>

                    </div>
                    {% else %}
                        <center>
                            <h2>:(</h2>
                            <h4>No se ha encontrado la factura</h4>
                        </center>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block extrajs %}
    <script type="text/javascript">
        $(document).ready(function() {
            var total = 0;
            $('li > div > span').each(function(index){
                var precio = parseInt($(this).text());
                total = total + precio;
            });

            $('span#total').text(total);

        });

    </script>
{% endblock %}
