{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %} Contabilidad {% endblock %}

{% load matriz %}
{% load nombre_mes %}

{% block content %}
    <br>
    <div class="container">
        <div class="card-panel z-depth-4">
            <center><h4 style="margin-top:0px;">Panel de Contabilidad</h4></center> <hr>
            <div class="row">
                <div class="col s12 m6" style="font-size:26px;">
                    Total de Ingresos:
                    <div class="p-l-20">
                        <ul class="m-0">
                            <li>Dueño: <div class="right">$ <span class="v">{{ingreso.dueno}}</span></div></li>
                            <li>Empleados: <div class="right">$ <span class="v">{{ingreso.empleados}}</span></div></li>
                            <li>Insumos: <div class="right">$ <span class="v">{{ingreso.insumos}}</span></div></li>
                            <li>Total: <div class="right">$ <span id="total"> {{ingreso.total}}</span></div></li>
                        </ul>
                    </div>

                    <center>
                        <small>
                            <a href="{% url 'contabilidad:egresos' %}">Consultar Egresos</a>
                        </small>
                    </center>
                </div>
                <div class="col s12 offset-m1 m5">
                    <center><big><b>Reportes de Ingresos</b></big></center>
                    <ul style="font-size:20px;">
                        <li><a href="{% url 'contabilidad:reportes_diarios' %}">Ver Reportes Diarios</a></li>
                        <li><a href="{% url 'contabilidad:reportes_semanales' %}">Ver Reportes Semanales</a></li>
                        <li><a href="{% url 'contabilidad:reportes_mensuales' %}">Ver Reportes Mensuales</a></li>
                        <li><a href="{% url 'contabilidad:reportes_por_servicios' %}">Ver Reportes Por Servicio</a></li>
                        <li><a href="{% url 'contabilidad:reportes_por_empleados' %}">Ver Reportes Por Empleados</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="row">
                <center><h4>Balance Mensual</h4></center>
                {% if datos %}
                    <div class="container">
                        <table class="bordered highlight responsive-table">
                            <thead>
                                <tr>
                                    <th>Mes</th>
                                    <th>Ingresos</th>
                                    <th>Egresos</th>
                                    <th>Ganancias</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in datos %}
                                <tr>
                                    <td>Mes de {{i|nombre_mes:0}}</td>
                                    <td>$ {{i|matriz:1}}</td>
                                    <td>$ {{i|matriz:2}}</td>
                                    <td>$ {{i|matriz:3}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                    <div class="row">
                        <br><br>
                        <center><h4>Grafica de Ingresos Vs Egresos</h4></center>
                        <div id="curve_chart2" style="height: 400px"></div>

                    </div>
                    <div class="row">
                        <hr>
                        <center><h4>Grafica de Ganancias</h4></center>
                        <div id="curve_chart" style="height: 400px"></div>
                    </div>



                {% else %}
                    <center>
                        <br><br>
                        <h5>No hay datos para mostrar</h5>
                    </center>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block extrahead %}
    <style>
        body {
            background-color: #00796b;
        }
    </style>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Meses', 'Ganancias'],
          {% for dato in datos %}
              [ '{{ dato|matriz:0 }}', {{ dato|matriz:3 }}],
          {% endfor %}
        ]);

        var options = {
          curveType: 'function',
          legend: { position: 'bottom' },
          vAxis: {title: 'Capital'},
          hAxis: {title: 'Meses'}
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
        chart.draw(data, options);

        var data2 = google.visualization.arrayToDataTable([
          ['Meses', 'Ingresos', 'Egresos'],
          {% for dato in datos %}
              [ '{{ dato|matriz:0 }}', {{ dato|matriz:1 }}, {{ dato|matriz:2 }}],
          {% endfor %}
        ]);


        var chart2 = new google.visualization.LineChart(document.getElementById('curve_chart2'));
        chart2.draw(data2, options);
      }
    </script>
{% endblock %}
