{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %} Reporte por Empleado {% endblock %}

{% load indice %}
{% load matriz %}

{% block content %}
    <div class="container">
        <div class="row m-b-0">
            <br>
            <a href="{% url 'contabilidad:reportes' %}" class="white-text">
                <big><i class="fas fa-arrow-left"></i> Volver al Panel de contabilidad</big>
            </a>
        </div>
        <div class="row">
            <div class="col s12 offset-m1 m10">
                <div class="card-panel">
                    <center><h4>Ingresos por Empleado</h4></center>
                    {% if datos %}
                        <table class="striped bordered highlight responsive-table">
                            <thead>
                                <tr>
                                    <th>Empleado</th>
                                    <th>Ingresos</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in datos %}
                                    <tr>
                                        <td>{{ i|matriz:0 }}</td>
                                        <td>$ {{ i|matriz:1 }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="row">
                            <div id="chart_div" style="height: 500px"></div>
                        </div>
                    {% else %}
                        <br>
                        <center>
                            <h2>:(</h2>
                            <h3>No hay datos</h3>
                        </center>
                    {% endif %}
                </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extrahead %}
    <style>
        body {
            background-color: #00796b;
        }
    </style>

    <script type="text/javascript" src="{% static 'js/loader.js' %}"></script>
    <script type="text/javascript">
        google.charts.load('current', {packages: ['corechart', 'bar']});
        google.charts.setOnLoadCallback(drawColColors);

        function drawColColors() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Ingresos');
            data.addColumn('number', 'Ingresos');

              data.addRows([
                  {% for dato in datos %}
                      [ '{{ dato|matriz:0 }}', {{ dato|matriz:1 }}],
                  {% endfor %}
              ]);

              var options = {
                colors: ['#c20000'],
                fontSize: 10,
                hAxis: { title: 'Empleados'},
                vAxis: { title: 'Ingresos' }
              };

              var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
              chart.draw(data, options);
        }
    </script>
{% endblock %}
